body {
	background-color: #336699;
}
.floatHead {
	/*background-color: #336699;*/

	border-bottom: solid silver;
	background-color: #F5F3EE;
	height: 100px;
	width: 90%;
	position: fixed;
	left: 50%;
	margin-left: -45%;
	z-index: 3;

}


.main {
	text-align: center;
	position: relative;
	top: 15px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	color: #336699;
	/*text-shadow: -1px 0 silver, 0 1px silver, 1px 0 silver, 0 -1px silver;*/
	font-family: "Jura";
	font-size: 180%;
	
}

.leftwrapper {
	width: 48%;
	display: inline-block;

}

.rightwrapper {
	/*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
	width: 45%;
	height: 100px;
	display: inline-block;

}

.mainright {
	position: relative;
	top: 10px;
	font-family: "Jura";
	color: #999999;
	font-size: 180%;
	text-align: right;
	/*background-color: #336699;*/

}

.underhead {
	margin-right: auto;
	margin-left: auto;
	background-color: #999999;
	width: 90%;
	height: 1200px;
	position: relative;
	top: 100px;
}

.secondrow {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 400px;
	background-color: white;
	display: block;
}
.picturewrapper {
	position: relative;
	top: 25px;
	margin-right: auto;
	margin-left: auto;
	width: 43%;
	height: 100%;
	display: inline-block;
}
.servicelist {
	position: relative;
	top: -50px;
	width: 43%;
	margin-right: auto;
	height: 100%;
	text-align: center;
	display: inline-block;
}

.serviceitem {
	position: relative;
	right: -100px;
	text-align: left;
	font-family: "Jura";
	font-size: 150%;
}
.servicetitle {
	font-family: "Jura";
	font-size: 200%;
	height: 50px;
	text-align: center;

}
.keyshift {
	display: inline-block;
	width: 50px;
	height: 30px;
	vertical-align: top;
}
.wider {
	width: 300px;
	position: relative;
	right: -30px;
}

.thinner {
	position: relative;   /*moving the key inline with the title*/
	top: -25px;
}

.layer3 { /*below pictures*/
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 350px;
	background-color: green;
	display: block;
}

.services {   /*in the third layer*/
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	height: 350px;
	background-color: blue;
	display: inline-block;
}


.fig {
	position: absolute;

}

figcaption {
	opacity: 0;
   	transition: opacity .5s;
	text-align: center;
	font-family: "Jura";
	font-size: 110%;
	position: relative;
}

.picturewrapper:hover figure figcaption{
   transition: opacity .5s;
   opacity: 1;
}
.picturewrapper figure{
   opacity:0;
}



figure:nth-child(1) {
	animation: xfade 9s 6s infinite;
}
figure:nth-child(2) {
	animation: xfade 9s 3s infinite;
}
figure:nth-child(3) {
	animation: xfade 9s 0s infinite;
}

.hidecontainer {
	width: 20px;
	display: none;
	visibility: hidden;
	cursor: pointer; cursor: hand;
}

.hideme {
	background-color: blue;
	font-family: "Jura";
	:hover {
		cursor: hand; cursor: ponter;
	}

}
.item1 {
	color: #336699;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  33.3%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
